<!doctype html>
<html lang="en">

<head>
    <link rel="icon" th:href="${portal.assetUrl({'_path=img/favicon.ico'})}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="${portal.assetUrl({'_path=css/custom.css'})}" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Semantic CSS -->
    <link rel="stylesheet" th:href="${portal.assetUrl({'_path=semantic/semantic.min.css'})}" />
    <link rel="stylesheet" th:href="${portal.assetUrl({'_path=datatables/dataTables.semanticui.min.css'})}" />
    <link rel="stylesheet" th:href="${portal.assetUrl({'_path=semantic/components/alert.css'})}" />

    <title>Seeds</title>
</head>

<body>
    <div class="ui visible inverted left vertical sidebar menu">
        <div class="item">
            <a class="ui logo icon image" href="https://www.seeds.no/">
                <img th:src="${portal.assetUrl({'_path=img/seeds.png'})}">
            </a>
            <a href="https://www.seeds.no/" target="_blank"><b>Seeds</b></a>
        </div>
        <a class="item active">
            <i class="translate icon"></i>
            Text translation
        </a>
    </div>
    <div class="ui bottom attached segment pushable">
        <div class="pusher">
            <!--Translate app-->
            <div class="ui basic segment">
                <h1 class="ui header">Text translation</h1>

                <!--Language selector-->
                <div class="ui grid top-menu">
                    <div class="sixten column">
                        <div class="ui form">
                            <!-- <h4 class="ui dividing header">Language Selector</h4> -->
                            <div class="three fields">
                                <div id="site-selector" class="field" hidden>
                                    <label>Site</label>
                                    <select class="ui fluid dropdown">
                                    </select>
                                </div>
                                <div id="language-selector" class="field" hidden>
                                    <label>Language</label>
                                    <div class="ui action input">
                                        <select class="ui fluid dropdown"></select>
                                        <button class="ui icon primary button" data-tooltip="Add language"
                                            data-inverted="">
                                            <i class="plus icon"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="custom-table-search" class="field" hidden>
                                    <label>Search in table</label>
                                    <input type="text" placeholder="Search...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Data table-->
                <table id="datatable-translate" class="ui celled table" style="width:100%" hidden></table>
            </div>
        </div>
    </div>

    <!-- Add Language -->
    <div class="ui add-language modal">
        <div class="header">Add Language</div>
        <div class="content">
            <select class="ui fluid search dropdown"></select>
        </div>
        <div class="actions">
            <div class="ui green add button">Add</div>
            <div class="ui red cancel button">Cancel</div>
        </div>
    </div>

    <!--Delete Modal-->
    <div class="ui delete-key modal">
        <div class="header">Delete key</div>
        <div class="content">
            <p>Are you sure you want to delete <span class="key"></span>? Deleting it will automatically remove it from all languages.</p>
        </div>
        <div class="actions">
            <div class="ui approve button">
                <i class="icon trash alternate red"></i>
                Confirm Delete
            </div>
            <div class="ui cancel red button">Cancel</div>
        </div>
    </div>

    <!--Publish Modal-->
    <div class="ui publish-key modal">
        <div class="header"></div>
        <div class="actions">
            <div class="ui publish-all green button"></div>
            <div class="ui publish green button"></div>
            <div class="ui cancel red button">Cancel</div>
        </div>
    </div>

    <!-- Add Key modal -->
    <div class="ui add-key modal">
        <div class="header">Create translation key</div>
        <div class="scrolling content">
            <div class="description">
                <form class="ui form">
                    <div class="field">
                        <label>Key</label>
                        <input type="text" name="key" placeholder="Key">
                    </div>
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui toggle checkbox publish">
                                <input type="checkbox" name="status">
                                <label>Draft</label>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui dividing header">Translations</h4>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui green add button">
                <i class="icon save"></i>
                Save
            </div>
            <div class="ui red cancel button">
                Cancel
            </div>
        </div>
    </div>

    <!-- Edit Key modal -->
    <div class="ui edit-key modal">
        <div class="header">Edit key</div>
        <div class="scrolling content">
            <div class="description">
                <form class="ui form">
                    <div class="field">
                        <label>Key</label>
                        <input type="text" name="key" placeholder="Key">
                    </div>
                    <h4 class="ui dividing header">Translations</h4>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui green save button">
                <i class="icon save"></i>
                Save changes
            </div>
            <div class="ui olive reset button">
                <i class="icon history"></i>
                Reset changes
            </div>
            <div class="ui red cancel button">
                Cancel
            </div>
        </div>
    </div>

    <button id="refresh-button" class="ui massive circular icon button bottom-button" data-tooltip="Sync"
        data-inverted="">
        <i class="sync icon"></i>
    </button>
    <button id="add-key-button" class="ui green massive circular icon button bottom-button" data-tooltip="Add key"
        data-inverted="">
        <i class="plus icon"></i>
    </button>

    <input id="services" type="hidden" data-th-value="${services}">
    <input id="sites" type="hidden" data-th-value="${sites}">

    <script th:src="${portal.assetUrl({'_path=js/jquery-3.1.1.min.js'})}"></script>
    <script th:src="${portal.assetUrl({'_path=js/moment.min.js'})}"></script>
    <script th:src="${portal.assetUrl({'_path=semantic/semantic.min.js'})}"></script>
    <script th:src="${portal.assetUrl({'_path=datatables/jquery.dataTables.min.js'})}"></script>
    <script th:src="${portal.assetUrl({'_path=datatables/dataTables.semanticui.min.js'})}"></script>
    <script th:src="${portal.assetUrl({'_path=js/datetime-moment.js'})}"></script>
    <script th:src="${portal.assetUrl({'_path=semantic/components/alert.js'})}"></script>
    <script th:src="${portal.assetUrl({'_path=js/custom.js'})}"></script>
</body>

</html>